<!DOCTYPE html>
<html lang=fr>
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <h1>Ceci est la page Home</h1>
    <form action="" method="POST">
        <fieldset>
            <input type="text" name="category" id="category">
            <input type="text" name="table" id="table">
            <button type="submit">Envoyer</button>
        </fieldset>
    </form>
    <%= success %>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>