<!DOCTYPE html>
<html lang=fr>
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <h1>Ceci est la page Verification</h1>

    <div class="list-group">
        <!-- loop over blog posts and render them -->
        <% data.forEach((book) => { %>
        <!-- <h4 class="list-group-item-heading"><%= book.title %></h4> -->
        <h5>salut</h5>
        </a>
        <% }) %>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>