.form-borrowell {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    padding: 30px 15px;
    width: 400px;

    .form-header {
        margin-bottom: 50px;
        p {
            color: $grey;
            font-size: 35px;
            font-weight: bold;
        }
    }

    .block-form {
        padding: 5px;
        margin-bottom: 25px;

        span.error-message {
            display: inline-block;
            font-size: 11px;
            padding-bottom: 5px; 
        }
        label {
            display: inline-block;
            font-size: 15px;
            font-weight: bold;
            padding: 5px;
            width: 100%;
        }
        input {
            border: none;
            border: 1px solid rgba(123,144,113,0.3);
            box-sizing: border-box;
            color: black;
            font-size: 20px;
            outline: none;
            padding: 15px;
            width: 100%;

            &::placeholder{
                color: $grey;
                font-size: 20px;
            }
        }
        input[type="file"] {
            display: none;
        }
        input.invalid {
            border: 1px solid $pink;
        }
    }
    .block-thumbnail {
        label {
            cursor: pointer;
        }
    }
    button[type="submit"] {
        background-color: $pink;
        border: none;
        color: white;
        cursor: pointer;
        font-family: $main_font;
        font-size: 20px;
        margin-top: 10px;
        outline: none;
        padding: 10px;
        width: 100%;
    }
    textarea {
        border: none;
        border: 1px solid rgba(123,144,113,0.3);
        font-family: $main_font;
        font-size: 15px;
        height: 180px;
        outline: none;
        resize: none;
        width: 100%;
    }
    select {
        font-family: $main_font;
        font-size: 15px;
        padding: 10px;
        width: 100%;
    }

    .link-forgot-password {
        color: black;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        width: 100%;
    }
}