.app-container[data-page="home"] {
    align-items: center;
    background-image: url('../img/bck_book.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .home-overlay {
        background-color: black;
        opacity: 0.4;
    }

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;
        z-index: 1;

        .home-message {
            color: white;
            font-size: 45px;
            margin-bottom: 25px;
        }

        form {
            box-shadow: 0 1px 1px rgba(0,0,0,0.24);
            display: flex;
            width: 640px;

            input[type="text"] {
                border: none;
                box-sizing: border-box;
                color: $grey;
                font-family: $main_font;
                font-size: 20px;
                outline: none;
                padding: 20px;
                transition: all 0.3s ease-out;
                width: 100%;

                &::placeholder {
                    color: $grey;
                    font-family: $main_font;
                    font-size: 20px;

                }
            }

            button[type="submit"] {
                background-color: $pink;
                border: none;
                cursor: pointer;
                img {
                    box-sizing: border-box;
                    height: 20px;
                    margin: 20px;
                    width: 20px;
                }
            }

            //Hover Animation
            &:hover {
                input[type="text"] {
                    background-color: rgb(216, 216, 216);
                }
            }
        }

        .error-message {
            color: $pink;
        }

        .link-book-collection {
            background-color: black;
            box-sizing: border-box;
            color: white;
            font-size: 20px;
            margin: 40px 0;
            padding: 15px 30px;
            text-decoration: none;
            transition: all 0.2s ease-out;

            &:hover {
                background-color: #292929;
            }
        }
    }

}