.app-container[data-page="login"] {
    align-items: center;
    background-image: url('../img/bck_book.jpg');
    display: flex;
    justify-content: center;

    .login-overlay {
        background-color: black;
        opacity: 0.3;
    }

    form {
        position: relative;
        z-index: 1;
    }

}