.app-container[data-page="backoffice_books"] {
    justify-content: flex-start;
    display: flex;
    height: 100vh;

    .board-backoffice {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 50px;
        width: 100%;

        .block {
            background-color: white;
            border-radius: 4px;
            margin-bottom: 40px;
            padding: 20px;

            h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 30px;
            }
        }

        .list-books {
            box-sizing: border-box;
            width: 100%;
            .item-book {
                align-items: center;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                border-top: 1px solid rgba(0,0,0,0.1);
                display: flex;
                justify-content: space-between;
                padding: 10px 0;

                img {
                    width: 60px;
                }

                &-info {
                    align-items: center;
                    display: flex;
                    font-size: 18px;

                    .info-label {
                        color: black;
                        font-weight: bold;
                    }

                    p {
                        margin-left: 25px;
                    }
                }
                &-button-block {
                    .button-show {
                        background-color: black;
                        border-radius: 4px;
                        color: white;
                        margin-right: 50px; 
                        padding: 10px 15px;
                        text-decoration: none;
                    }
                    .button-edit {
                        background-color: $pink;
                        border-radius: 4px;
                        color: white;
                        margin-right: 100px; 
                        padding: 10px 15px;
                        text-decoration: none;
                    }
                }
            }
        }
        form.form-search-book {
            display: flex;
            margin-bottom: 20px;
            width: 640px;

            input[type="text"] {
                border: none;
                box-sizing: border-box;
                color: $grey;
                font-family: $main_font;
                font-size: 20px;
                outline: none;
                padding: 20px;
                width: 100%;

                &::placeholder {
                    color: $grey;
                    font-family: $main_font;
                    font-size: 20px;

                }
            }

            button[type="submit"] {
                background-color: $pink;
                border: none;
                cursor: pointer;
                img {
                    box-sizing: border-box;
                    height: 20px;
                    margin: 20px;
                    width: 20px;
                }
            }
        }
    }
}