.app-container[data-page="book-category"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .back-button {
        margin-top: 40px;
    }

    .header-result {
        color: $grey;
        font-size: 30px;
        padding: 50px 0;

        .count-book {
            color: black;
            font-weight: bold;
        }

        .title-category {
            color: black;
            font-weight: bold;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a.block-book {
            align-items: center;
            background-color: white;
            box-sizing: border-box;
            box-shadow: 0 1px 1px rgba(0,0,0,0.24);
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 25px;
            padding: 50px;
            text-decoration: none;
            width: 250px;

            img {
                filter: grayscale(1);
                margin-bottom: 20px;
                transition: all 0.2s ease-out;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }

        }
    }

}