.app-container[data-page="search"] {
    section {
        .header-search {
            font-size: 30px;
            padding: 50px 0;
        }

        .list-result-book {

            .block-result {
                align-items: center;
                background-color: white;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                
                a {
                    background-color: $pink;
                    color: white;
                }
            }
        }
    }
}