.app-container[data-page="book-single"] {
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    height: 100vh;

    .thumbnail-container {
        flex: 1;
        overflow: hidden;
        position: relative;

        .overlay-thumbnail {
            background-color: black;
            opacity: 0.4;
        }

        img {
            height: 110%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .info-container {
        align-items: flex-start;
        display: flex;
        flex: 1.5;
        flex-direction: column;
        overflow: auto;
        padding: 60px;
        width: 50%;

        .book-title {
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .description-block {
            margin-bottom: 20px;

            span {
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 8px;
            }

            p {
                line-height: 18px;
                max-width: 70%;
            }
        }

        //@Auth
        .link-borrow {
            color: white;
            display: inline-block;
            margin-top: 10px;
            padding: 15px;
            text-decoration: none;

            &[data-state="noBorrowed"] {
                background-color: $pink;
            }

            &[data-state="Borrowed"] {
                background-color: $grey;
                opacity: 0.9;
            }
        }
        .limit-book, .owner-message {
            color: $pink;
            font-weight: bold;
        }

        //@Guest
        .link-login {
            font-weight: bold;
            margin-top: 10px;

            a {
                color: $pink;
            }
        }

        .back-button {
            margin-top: 40px;
        }

    }
}