body {
    font-family: $main_font;
}

.app-container {
    padding-top: $height_header;
    box-sizing: border-box;
    background-color: $light_grey;
    min-height: 100vh;
}

.sharp {
    color: $pink;
}

//Skin of progress bar provided by turbolinks
.turbolinks-progress-bar {

    background-color: $pink;
  }