@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Noto Sans", sans-serif; }

.app-container {
  padding-top: 12.5vh;
  box-sizing: border-box;
  background-color: #F5F2F2;
  min-height: 100vh; }

.sharp {
  color: #FB503B; }

.form-borrowell {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  padding: 30px 15px;
  width: 400px; }
  .form-borrowell .form-header {
    margin-bottom: 50px; }
    .form-borrowell .form-header p {
      color: #7B7271;
      font-size: 35px;
      font-weight: bold; }
  .form-borrowell .block-form {
    padding: 5px;
    margin-bottom: 25px; }
    .form-borrowell .block-form span.error-message {
      display: inline-block;
      font-size: 11px;
      padding-bottom: 5px; }
    .form-borrowell .block-form input {
      border: none;
      border: 1px solid rgba(123, 144, 113, 0.3);
      box-sizing: border-box;
      color: black;
      font-size: 20px;
      outline: none;
      padding: 15px;
      width: 100%; }
      .form-borrowell .block-form input::placeholder {
        color: #7B7271;
        font-size: 20px; }
    .form-borrowell .block-form input.invalid {
      border: 1px solid #FB503B; }
  .form-borrowell button[type="submit"] {
    background-color: #FB503B;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    outline: none;
    padding: 10px;
    width: 100%; }
  .form-borrowell .link-forgot-password {
    color: black;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    width: 100%; }

.app-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1200px; }

.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0; }

.app-container[data-page="home"] {
  align-items: center;
  background-image: url("../img/bck_book.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .app-container[data-page="home"] .home-overlay {
    background-color: black;
    opacity: 0.4; }
  .app-container[data-page="home"] section {
    position: relative;
    text-align: center;
    z-index: 1; }
    .app-container[data-page="home"] section .home-message {
      color: white;
      font-size: 45px; }
    .app-container[data-page="home"] section form {
      display: flex;
      margin: 40px 0;
      width: 640px; }
      .app-container[data-page="home"] section form input[type="text"] {
        border: none;
        box-sizing: border-box;
        color: #7B7271;
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
        outline: none;
        padding: 20px;
        width: 100%; }
        .app-container[data-page="home"] section form input[type="text"]::placeholder {
          color: #7B7271;
          font-family: "Noto Sans", sans-serif;
          font-size: 20px; }
      .app-container[data-page="home"] section form button[type="submit"] {
        background-color: #FB503B;
        border: none;
        cursor: pointer; }
        .app-container[data-page="home"] section form button[type="submit"] img {
          box-sizing: border-box;
          height: 20px;
          margin: 20px;
          width: 20px; }
    .app-container[data-page="home"] section .link-book-collection {
      background-color: black;
      box-sizing: border-box;
      color: white;
      padding: 15px 30px; }

.app-container[data-page="login"] {
  align-items: center;
  background-image: url("../img/bck_book.jpg");
  display: flex;
  justify-content: center; }
  .app-container[data-page="login"] .login-overlay {
    background-color: black;
    opacity: 0.3; }
  .app-container[data-page="login"] form {
    position: relative;
    z-index: 1; }

.app-container[data-page="register"] {
  align-items: center;
  background-image: url("../img/bck_book.jpg");
  display: flex;
  justify-content: center; }
  .app-container[data-page="register"] .login-overlay {
    background-color: black;
    opacity: 0.3; }
  .app-container[data-page="register"] form {
    position: relative;
    z-index: 1; }

.app-container[data-page="reset-password"] {
  align-items: center;
  background-image: url("../img/bck_book.jpg");
  display: flex;
  justify-content: center; }
  .app-container[data-page="reset-password"] .login-overlay {
    background-color: black;
    opacity: 0.3; }
  .app-container[data-page="reset-password"] form {
    position: relative;
    z-index: 1; }

.app-header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .app-header-container {
    align-items: center;
    display: flex;
    height: 12.5vh;
    justify-content: space-between; }
    .app-header-container img {
      height: 40px; }
    .app-header-container .link-container {
      align-items: center;
      display: flex; }
      .app-header-container .link-container .link-login {
        color: grey;
        font-size: 20px;
        margin-right: 35px; }
      .app-header-container .link-container .link-logout {
        color: black;
        font-size: 15px;
        font-weight: bold;
        margin-right: 35px;
        text-decoration: none; }
      .app-header-container .link-container .link-profile {
        color: #FB503B;
        font-size: 15px;
        font-weight: bold;
        margin-right: 35px; }
      .app-header-container .link-container .link-register {
        background-color: #FB503B;
        border-radius: 4px;
        color: white;
        display: block;
        font-size: 20px;
        padding: 10px 15px;
        text-decoration: none; }
      .app-header-container .link-container .img-profile-container {
        border-radius: 50%;
        overflow: hidden; }
        .app-header-container .link-container .img-profile-container img {
          height: 60px;
          width: 60px; }
      .app-header-container .link-container .link-backoffice {
        background-color: #FB503B;
        border-radius: 4px;
        color: white;
        display: block;
        font-size: 15px;
        margin-right: 35px;
        padding: 10px 15px;
        text-decoration: none; }

/*# sourceMappingURL=app.css.map */
